@import "../bootstrap/css/bootstrap.scss";
$abril: 'Abril Fatface', cursive;
$josefin:'Josefin Slab', serif;


h1, h2, h3, h4, h5, h6, p, a {
	color: #3a3b36;
	letter-spacing: 1px;
}
h1, h2, h3, h4, h5, h6{
font-family: $abril;
}
a{
	font-family: $josefin;
	font-weight: bold;
}
.navbar-default {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.navbar-brand{
	img{
		height: 45px;
		margin-top: -10px;
	}
}
p{
	font-family: $josefin;
	font-size: 22px;

}
#firstcontainer{
	h1{
		font-family: $josefin;
		font-size: 50px;
		font-weight: lighter;
	}
	h3{
		margin-top: -14px;
		font-family: $josefin;
		font-size: 25px;
		font-weight: lighter;
	}
	margin-top: -20px;
	height:60vh;
	background-attachment:fixed;
	background: url("../assets/firstbg.png");
	background-size: cover;
	position: relative;
		#headercontainer{
			position: absolute;
			left: 50%;
			top: 11vh;
			transform: translate(-50%,-50%);
			h1, h5{
				text-align: center;
			}
		}
		#date{
			position: absolute;
			top: 40vh;
			left: 50%;
			transform: translate(-50%,-50%);
		}
		input{
			box-shadow: 0 0 0 0;
			position: absolute;
			top: 49vh;
			left: 50%;
			transform: translate(-50%,-50%);
			padding-left: 30px;
			padding-right: 30px;
			padding-top: 5px;
			padding-bottom: 7px;
			border-radius: 7px;
			background: transparent;

		}
		#register{
			position: absolute;
			top: 49vh;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 20%;
			height: 35px;
		}

}
#secondcontainer{
	position: relative;
	#insider{
		margin-top: 5vh;
		margin-bottom: 5vh;
h2{
	font-family: $josefin;
	font-weight: 600;
	font-size: 40px;
	color:#E8616C;
}
p{
	margin-top: -15px;
}
	h2, p{
		margin : 0,0,0,0;
		text-align: center;
	}
	.col-md-3{
		border-right: 1px;
		border-color: #979797;
	}

}
}

#thirdcontainer{
	background-attachment: fixed;
	background: #F5F5F5;
	#thirdcontainer{
		width: 80%;
	}
	.container{
		margin-top: 8vh;
		h3{
			margin-bottom: 8vh;
		}
		p{
			font-weight: 300;
			margin-bottom: 12vh;
		}
	}
}

#speakersection{
	.company, .position{
		font-size: 15px;
	}
	.row{
		margin-top: 9vh;
		margin-bottom: 9vh;
	}
	#chiefguest{
		height: 204px;
		width: 204px;
	}
	#chiefguestname{
		margin-left: 60px;
		margin-top: 20px;
	}
	.round{
		border-radius: 100%;
	}
	#speakers{
		margin-top: 9vh;
		.smallspeakers{
transform: translateX(18%);
		}
		.speakerdesignation{
			margin-top: 20px;
			text-align: center;
		}

	}

}
#TracksTextSection{
	background: #f5f5f5;
	padding-bottom: 9vh;
	h3{
		margin-top: 9vh;
		margin-bottom: 5vh;
	}
}
#features{
	h4, h5{
		color:#ffffff;
	}
	p{

	}
	h5{
		font-family: $abril;
		font-weight: lighter;
		font-size: 20px;
		margin-top: 40px;
		line-height: 1.5;
		margin-left: 30px;
		margin-right: 30px;
		letter-spacing: 1px;

	}
	h4{
		font-family: $abril;
		margin-left: -20px;
		margin-top: 6vh;
		font-size: 50px;
	}
	.coloredtext{
		padding-left: 3vw;
		background: #E8616C;
		height: 35vh;
	}
	.imagecontainer{
		height: 35vh;
		//background: url("../assets/students.png");
		background-size: cover;
	}
	#businessnetworking{
	height: 35vh;
	background: url("../assets/img1.JPG");
	background-size: cover;
}
#idea{
	height: 35vh;
	background: url("../assets/img2.JPG");
	background-size: cover;
}
#panel{
	height: 35vh;
	background: url("../assets/img4.JPG");
	background-size: cover;
}
}
#chumma{
	height: 10vh;
	background: #f5f5f5;
}

#newsletter{
	padding-bottom: 9vh;
	text-align: center;
	h2{
		font-family: $josefin;
		font-weight: lighter;
		margin-top: 9vh;
	}
	h4{
		font-family: $josefin;
		font-weight: lighter;
		margin-top: 5vh;
	}
	input{
		padding: 10px;
		margin-top: 5vh;
		width: 40%;
		border-radius: 5px;
		border-width:.5px;
		font-family: $josefin;
		font-weight: lighter;
	}
	.pinkbutton{
		background: #E8616C;
		color: #ffffff;
		font-family: $josefin;
		font-weight: lighter;
	}
}
#footer{
	height: 25vh;
	background: #f5f5f5;
}
